name: Continuous Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: SSH and deploy app
      uses: appleboy/ssh-action@master
      with:
        host: 167.99.73.124
        username: root
        password: Cl0de0@Experiment$$
        script: |
          cd ~/simple-forum-api
          git pull origin master
          npm install
          npm run migrate up
          pm2 restart forumapi
